* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster");

p {
	color: #6c6c6f;
	font-size: 1em;
}
.navbar-brand {
	font-weight: 700;
}
.navbar-toggler {
	background-color: rgba(128, 128, 128, 0.192);
}
nav {
	background: rgba(128, 128, 128, 0.342);
}
.navbar-nav .nav-item .nav-link {
	padding: 1.1em 1em !important;
	font-size: 120%;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
	font-family: "Gothic A1", sans-serif;
}
.navbar-nav .nav-item .nav-link:hover {
	color: blue;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
	border-top: 3px solid aqua;
}
nav {
	-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
	-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
	transition: padding-top 0.3s, padding-bottom 0.3s;
	border: none;
}
.shrink {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #212529;
}
.main-section {
	position: relative;
	background: linear-gradient(
			rgba(68, 79, 179, 0.7),
			rgba(156, 189, 233, 0.7),
			rgba(73, 84, 180, 0.7)
		),
		url(" ../img/banner.jpg");
	height: 750px;
	background-size: cover;
}
.main-section .section-part {
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@keyframes blinker {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.blink {
	text-decoration: blink;
}
.social:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.social {
	color: grey;
	-webkit-transform: scale(0.8);
	/* Browser Variations: */
	transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.alto {
	height: 15rem;
}
/* mobile view */
@media (max-width: 750px) {
	.navbar-nav {
		background-color: rgba(128, 128, 128, 0.288);
		border-top: 3px solid #fed136;
		z-index: 1;
		margin-top: 5px;
	}
	.navbar-nav .nav-item .nav-link {
		padding: 0.7em 1em !important;
		font-size: 100%;
		font-weight: 500;
	}
	section {
		width: 100%;
	}
	article {
		width: 100%;
	}
	main {
		width: 100%;
	}
	.col {
		width: 40%;
		height: 300px;
		margin: 1vh;
		padding: 0;
		border: 1px solid black;
		object-fit: cover;
	}
}
